# Web framework
fastapi
uvicorn
python-multipart
jinja2

# Text converters (md, txt, html)
pypandoc-binary
xhtml2pdf

# Image converters (svg, webp)
svglib
reportlab
cairosvg
wand
pillow

# Data converters (csv, json)
pandas
openpyxl
python-docx
